TMDB_API_KEY=27d6e887cabbe78e38636597b371fcb6
SECRET_KEY=your-super-secret-django-key
DEBUG=True

# Streaming embed providers
VIDSRC_BASE_URL=https://vidsrc.xyz/embed/movie
VIDSRC_TO_BASE_URL=https://vidsrc.to/embed/movie
EMBED2_BASE_URL=https://www.2embed.cc/embedtv
